/* Contact.css */

#contact {
    padding: 4rem 1rem;
    max-width: 1200px;
    margin: auto;
    opacity: 0;
    transition: opacity 1s ease;
  }
  
  #contact:target {
    opacity: 1;
  }
  
  #contact h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
  }
  
  #contact p {
    text-align: center;
    font-size: 1rem;
  }
  