/* Home.css */

/* Hero section styling */
#hero {
    /* background: url('/img-languages.jpeg') no-repeat center center/cover; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    padding: 0 1rem;
  }
  
  #hero h1 {
    font-size: 3rem;
  }
  
  #hero p {
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  
  /* Button styling */
  .btn {
    padding: 0.75rem 1.5rem;
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    transition: background 0.3s ease;
  }
  
  .btn:hover {
    background: var(--link-hover-color);
  }
  