/* Projects.css */

#projects-top-body {
    padding: 20px;
    background-color: #f9f9f9;
    color: #333;
  }
#projects-body {
  padding: 20px;
  background-color: #f9f9f9;
  color: #333;
}
  
#projects:target {
  opacity: 1;
}

#projects-top-body h2,
#projects-body h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
}
  
.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}
  
.project {
  background: #f4f4f4;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
  
.project:hover {
  transform: translateY(-5px);
}

#hero {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 1rem;
  background: url('../components/images/languages.jpeg') no-repeat center center/cover; /* Ensure image is correctly set */
  color: #333;
}

#hero h1 {
    font-size: 3rem;
}

/* Carousel container styles */
.carousel-container {
  max-width: 600px; /* Adjust the max width as needed */
  margin: 0 auto; /* Center the carousel */
}

/* Carousel image styles */
.carousel-image {
  width: 100%;
  height: auto;
  object-fit: cover; /* Ensures images maintain aspect ratio */
}

/* Customize carousel control buttons if needed */
.carousel .control-arrow {
  background: rgba(0, 0, 0, 0.5); /* Example: dark background */
  width: 30px; /* Adjust size */
  height: 35px; /* Adjust size */
  top: 50%;
  transform: translateY(-50%);
}
